In [ ]:
#Task 1 - Fitbit Dataset

1. Read this dataset in pandas , mysql and mongodb 
2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql 
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
4 . Find out in this data that how many unique id's we have 
5 . which id is one of the active id that you have in whole dataset 
6 . how many of them have not logged there activity find out in terms of number of ids 
7 . Find out who is the laziest person id that we have in dataset 
8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
9. how many person are not a regular person with respect to activity try to find out those 
10 . who is the thired most active person in this dataset find out those in pandas and in sql both . 
11 . who is the 5th most laziest person avilable in dataset find it out 
12 . what is a totla acumulative calories burn for a person find out

## 1. Read this dataset in pandas , mysql and mongodb

In [1]:
#1. Read this dataset in pandas.
import pandas as pd
fitbit_dataframe = pd.read_csv("C:/Users/Wasu/Desktop/ineuron notes/pandas/FitBit_data.csv")
fitbit_dataframe.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

## 2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql

In [2]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\wasu\anaconda3\lib\site-packages (2.1.1)

In [3]:
#2. Read this dataset in mysql.
from sqlalchemy import create_engine as ce

# Connecting to MySQL
engine = ce("mysql://root:Shubi#9039@localhost:3306/fitbit_dataset") 

# Load the imported CSV into your database
fitbit_sql = fitbit_dataframe.to_sql('fitbit_table', engine)

ValueError: Table 'fitbit_table' already exists.

In [3]:
fitbit_data = fitbit_dataframe.to_json('fitbit_data.json')

In [4]:
#3. Read this dataset in mongodb.
import json
from pymongo import MongoClient
client = MongoClient("mongodb+srv://rubeena:Shubi#9039@cluster0.9lpmgfk.mongodb.net/?retryWrites=true&w=majority")
datbase = client['fitbit']
collection = datbase['fitbit_data']

with open('C:/Users/Wasu/Desktop/ineuron notes/pandas/fitbit_data.json') as file:
    file_data = json.load(file)
      
collection.insert_one(file_data)

## 3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format

In [5]:
fitbit_dataframe.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [6]:
fitbit_dataframe['ActivityDate'] = pd.to_datetime(fitbit_dataframe['ActivityDate'])
fitbit_dataframe.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

## 4 . Find out in this data that how many unique id's we have

In [88]:
len(fitbit_dataframe['Id'].unique())

35

## 5 . which id is one of the active id that you have in whole dataset

In [8]:
fitbit_dataframe.groupby('Id')['VeryActiveMinutes'].sum().idxmax()

8053475328

## 6 . how many of them have not logged there activity find out in terms of number of ids

In [131]:
len(set(fitbit_dataframe["Id"]))

35

In [141]:
len(set(fitbit_dataframe[fitbit_dataframe['LoggedActivitiesDistance'] > 0]['Id']))

6

In [134]:
len(set(fitbit_dataframe["Id"])) - len(set(fitbit_dataframe[fitbit_dataframe['LoggedActivitiesDistance'] > 0]['Id']))

29

## 7 . Find out who is the laziest person id that we have in dataset

In [156]:
fitbit_dataframe.groupby("Id")["SedentaryMinutes"].sum().idxmax()

4057192912

## 8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset

In [171]:
len(set(fitbit_dataframe[fitbit_dataframe['Calories']>=2200]['Id']))

27

## 9. how many person are not a regular person with respect to activity try to find out those

In [319]:
 fitbit_dataframe.groupby('Id')['ActivityDate'].count()

Id
1503960366    19
1624580081    19
1644430081    10
1844505072    12
1927972279    12
2022484408    12
2026352035    12
2320127002    12
2347167796    15
2873212765    12
2891001357     8
3372868164    10
3977333714    12
4020332650    32
4057192912    32
4319703577    12
4388161847     8
4445114986    15
4558609924    12
4702921684    15
5553957443    12
5577150313    11
6117666160    10
6290855005    10
6391747486     9
6775888955     9
6962181067    14
7007744171    12
7086361926    12
8053475328    11
8253242879    12
8378563200    12
8583815059     8
8792009665    12
8877689391    12
Name: ActivityDate, dtype: int64

## 10 . who is the thired most active person in this dataset find out those in pandas and in sql both .

In [328]:
fitbit_dataframe.groupby('Id')['VeryActiveMinutes'].sum().sort_values()[-3:-2]

Id
8877689391    802
Name: VeryActiveMinutes, dtype: int64

## 11 . who is the 5th most laziest person avilable in dataset find it out

In [346]:
fitbit_dataframe.groupby("Id")["SedentaryMinutes"].sum().sort_values(ascending = False)[4:5]

Id
1503960366    15387
Name: SedentaryMinutes, dtype: int64

## 12 . what is a total acumulative calories burn for a person find out

In [338]:
fitbit_dataframe.groupby('Id')['Calories'].sum().sort_values()

Id
4388161847    14442
6391747486    15868
2026352035    16266
3977333714    16777
8253242879    17556
2891001357    18187
2320127002    18385
3372868164    18603
8583815059    19130
1844505072    19391
2873212765    20349
6117666160    20993
5553957443    21630
6290855005    21656
4558609924    21962
4319703577    23931
6775888955    24523
8792009665    24884
1624580081    25705
7086361926    26124
1927972279    27048
1644430081    29164
6962181067    29249
2022484408    29704
2347167796    30320
7007744171    31525
4445114986    31617
8053475328    31825
1503960366    34128
5577150313    36303
8378563200    40274
8877689391    41414
4702921684    42322
4057192912    60913
4020332650    98412
Name: Calories, dtype: int64